/* Overrides main Colors */

:root {
  --glossa-override-bg: #82663a;
  --glossa-override-active-bg: #846635;
  --glossa-override-text: #ffffff;
  --glossa-override-text-secondary: #ffffffae;
  --glossa-override-button-border: #735729;
}

/* Simple Prompt Overrides */

#custom-prompt {
  min-width: 450px;
}

/* Overrides for Glossa - page before fullscreen */

body.glossa-live-improvements-extension .bg-white {
  background: var(--glossa-override-bg);
}
body.glossa-live-improvements-extension main {
  background: var(--glossa-override-bg);
}

body.glossa-live-improvements-extension .to-transparent {
  --tw-gradient-to: transparent 0;
}

body.glossa-live-improvements-extension .bg-white p.text-2xl {
  color: var(--glossa-override-text);
}
body.glossa-live-improvements-extension .bg-gray-100 {
  background-color: var(--glossa-override-active-bg);
}
body.glossa-live-improvements-extension .border-gray-200,
body.glossa-live-improvements-extension .border-gray-300 {
  border-color: var(--glossa-override-button-border);
}

/*  Fullscreen MODE : Light Mode */

body.glossa-live-improvements-extension .bg-white:fullscreen {
  background: var(--glossa-override-bg) !important;
  font-size: 1.2rem !important;
}

body.glossa-live-improvements-extension .bg-white:fullscreen .overflow-y-auto {
  max-height: 100% !important;
}

body.glossa-live-improvements-extension .bg-white:fullscreen p.text-2xl {
  color: var(--glossa-override-text) !important;
  font-size: 2.5rem;
  line-height: 3rem !important;
}

body.glossa-live-improvements-extension .bg-white:fullscreen .dark\:text-gray-500:is(.dark *) {
  color: var(--glossa-override-text-secondary) !important;
  font-size: 0.7rem !important;
}

body.glossa-live-improvements-extension .bg-white:fullscreen .mb-0\.5 {
  margin-bottom: 0 !important;
}

/* Active voice */
body.glossa-live-improvements-extension .bg-white:fullscreen .dark\:bg-orange-900\/30:is(.dark *) {
  background: var(--glossa-override-active-bg) !important;
}

/* TODO - Fullscreen MODE : Dark Mode */
